* {
      margin: 0px;
}

.items {
      width: 100%;
      padding: 50px 8px;
}

.item {
      display: inline-block;
      margin: auto;
      text-align: center;
      width: 24.7%;
}

.item img {
      border-radius: 50%;
}

.border {
      margin: 20px auto;
      background-color: green;
      height: 5px;
      width: 30%;
}

.chif {
      padding: 50px 0px;

}

.chif_img {
      width: 40%;
      display: inline-block;
}

.chif_img img {
      width: 70%;

}

.chif_info {
      padding-top: 80px;
      width: 57%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
}

.chif_info span {
      font-weight: bold;
      font-family: 'Dancing Script', cursive;
      color: goldenrod;
}

.chif_info p {
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      font-family: 'Roboto Mono', monospace;
      color: gray;
}

.chif_info button {
      padding: 10px 20px;
      background-color: transparent;
      border: 2 solid black;
      border-radius: 10%;
}
